body{
    background-color: #00d0ff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.button{
    text-decoration: none;
    font-size: 18px;
    color:#fff;
    padding: 10px 30px;
    border:2px solid #fff;
    position: relative;
    overflow: hidden;
    transition: color 0.5s;
}
.button:hover{
color:#00d0ff
}
.button::before{
    content: ' ';
    background:#fff;
    position: absolute;
    width: 0%;
    left:-10px;
    top:0;
    height:100%;
    z-index: -1;
    transform:skewX(25deg);
    transition: width 0.5s;
}

.button:hover::before{
    width: 120%;
}